[submodule "packages/power-mesh"]
	path = packages/power-mesh
	url = https://github.com/ukonpower/power-mesh.git
[submodule "src/assets/gltf"]
	path = src/assets/gltf
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
